<!DOCTYPE html>
<html>
<body>

<h2>Send Email</h2>

<form action="sendEmailWithAttachment" method="post">
    <label for="recipient">Enter whom to send email to:</label><br>
    <input type="text" id="recipient" name="recipient" value=""><br>  
  <label for="subject">Subject:</label><br>
  <input type="text" id="subject" name="subject" value=""><br>


  <a href="https://meet.google.com/">Click to pick the link</a><br><br>
  <label for="meetLink">Paste the link here</label>
  <input type="text" id="meetLink" name="meetLink" value=""><br>

  <label for="body">Body:</label><br>
  <input type="text" id="body" name="body" value=""><br><br>

  
  <input type="file" id="attachment" name="attachment"><br><br>
  <input type="submit" value="Submit">

</form> 

</body>
</html>