<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/fixAppointment.css}"/>
    </head>
</head>
<body>
    <div class="login-box">
        <h2>Fix Appointment</h2>
        <form action="patientDataStore" method="post">
            <div class="user-box">
                <input type="text" name="name" required="">
            <label>Patient Name</label>    
            </div>
            <div class="user-box">
                <input type="text" name="mail" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="date" name="date" required="">
                <label></label>
            </div>
            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <!-- Submit -->
                <input type="submit" value="Submit"  >
            </a>
        </form>
    </div>
    <div class="chatDiv">
        <img th:src="@{/images/doctorRobot.png}" id="chat" class="doctorRobot">
   
        <img th:src="@{/images/doctor.jpg}" id="chat" class="doctor" style="margin-left: 70%;
        margin-top: -20%;
        max-width: 20%;
        max-height: 10%;
        border-radius: 50%;">
    </div>

    <script>
        document.getElementById('chat').addEventListener('click', function() {
            window.location.href = '/chat';
          });
    </script>
</body>
</html> 