<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<body>

<h2>Medicine Details</h2>
<div class="container">
    
    <!-- <form action="showAl">
        <input type="text" placeholder="Search.." name="keyWord" id = "keyWord">
    </form> -->

    <div>
   
       <table class = "table table-striped">       
       <tr>
        <th> Id  | </th>
       <th> Medicine Name  | </th>
       <th> Price Details  |</th>
       <th> Manufacturer name  |</th>
       <th> Pack Size Label  |</th>
       <th> Short Com 1  |</th>
       <th> Short Com 2</th>





       </tr>       
       <tr th:each="data : ${allData}">
        <td th:text = "${data.id}"></td>
       <td th:text ="${data.drugName}"></td>
       <td th:text="${data.price}"></td>
       <td th:text ="${data.manName}"></td>
       <td th:text ="${data.packSizeLabel}"></td>
       <td th:text ="${data.shortCom1}"></td>
       <td th:text ="${data.shortCom2}"></td>



       </tr>
   
       </table>
    </div>        
    </div>      

</body>
</html>

